.card-container{
     display: grid;
    grid-template-columns: repeat(3,1fr);

}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.btn{

}
.optional{
    background-color: rgba(0, 255, 255, 0.075);
    margin: 5px;
    padding: 5px;
    display: flex;
        border-radius: 5px;

}
.details-op{
    background-color: rgba(247, 169, 54, 0.438);
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width:600px){

    .card-container{
    grid-template-columns: repeat(1,1fr);

}
.shop-container{
    grid-template-columns: repeat(1,1fr);
}
}